@model System.Collections.Generic.List<Compelover.Entities.Tangible.Blog>

@{
    Layout = "_MemberLayout";
}
@* @foreach (var listBlog in Model) *@
@* { *@
@*     <h2>@listBlog.Title</h2> *@
@*     <h3>@listBlog.ShortDescription</h3> *@
@*     <h4>@listBlog.Description</h4> *@
@*     <h5>@listBlog.PostedTime</h5> *@
@*      <h6>@listBlog.AppUser</h6> *@
@*     <img src="@listBlog.ImageBlog" alt=""/> *@
@* } *@